
.category {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 1200px;
    margin: 0 auto;
}

.categoryTitleContainer {
    display: flex;
    justify-content: center; /* ALINHA OS ITENS AO CENTRO HORIZONTALMENTE */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    gap: 10px; /* Adiciona um espaço entre o h2 e a animação */
}

.category h2 {
    padding-block: 2rem;
}

.category p {
    padding-bottom: 30px;
}